body {
  margin-top: 40px;
}
.container {
  float: none;
  margin: 0 auto;
  padding: 3%;
  background-color: #eeeeee;
  border-radius: 10px;
}
.col-md-6 {
  float: none;
  margin: 0 auto;
}
#title {
  
  text-align: center;
}
#title h1 {
  font-size: 50px;
}
#title h4 {
  font-size: 30px;
  font-style: italic;
}

#image p{
  text-align: center;
}

.col-md-6 {
  float: none;
  margin: 0 auto;
}


#message {
  margin-top:20px;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}
#footlink {
  text-align: center;
}
#footer {
  text-align: center;
  style: none;
}